/DriveModelNode:
  ros__parameters:
    frequency: 60
    path_topic: "/planned_path_topic"
    dynamics_cmd_topic: "pc_origin/dynamics"
    wheels_topic: "/ground_truth/wheel_speeds"
    rpm_topic: "/pwr/rpm"
    distance_imu_to_rear_axle: 1.15
    desired_speed: 2.0
    kp_speed: 0.1
    ki_speed: 0.0075
    kd_speed: 0.00
    k_dd: 2.0
    qos_overrides:
      /parameter_events:
        publisher:
          depth: 1000
          durability: volatile
          history: keep_last
          reliability: reliable
    use_sim_time: false

